/* Your styles go here */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");

.jumbotron{
    background-color: lightgray;
    text-align: center;
    background-image: url('../../images/jumboImage.jpg');
    background-size: cover;
}
.navbar{
    text-align: center;
}
.displaySize{
    width: 80%;
    margin-left: 10%;
}
.lead{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 18px;
}
h5{
    font-size: 50px;
}
body{
    background-color: lightgray
}
footer{
    padding-top: 10px;
    text-align: center;
    color: lightgray; 
    margin-top: 5%;
    height: 50px;
    background-color: black;
}